*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-primary:#262a2f;
    --color-accent:#ff5533;
    --color-grey:#868686;
    --grid-column-width: 101px;
    --grid-gap: 20px;
}

@font-face {
    font-family: 'Rubik';
    src: url('Rubik/static/Rubik-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Rubik';
    src: url('Rubik/static/Rubik-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Rubik';
    src: url('Rubik/static/Rubik-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Rubik';
    src: url('Rubik/static/Rubik-Black.ttf') format('truetype');
    font-weight: 900;
}

body{
    font-family: Rubik, sans-serif;
    background: #ebebeb;
    font-size: 22px;
    overflow-x: hidden; 
}


.content {
    max-width: 1432px;
    margin: 0 auto; 
    padding-top: 28px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(12, var(--grid-column-width));
    gap: var(--grid-gap);
    justify-content: center; 
}

.menu{
    max-width: 1432px; 
    margin: 0 auto;    
    padding: 18px 0;
    width: 100%;       
    display: flex;
    align-items: center;
}

.menu-el{
    display: flex; 
    align-items: center;
    margin: 30px;
    font-weight: 900;
    font-size: 24px;
}

.navigation__logo{
    display: flex;
    align-items: center;
    margin: 10px;
    text-decoration: none;
}

.navigation__logo-image {
    height: 80px; 
}

.navigation__list {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav__link{
    text-decoration: none;
    color: var(--color-primary);
}

.glav{
    color:var(--color-accent);
}

.nav__link:hover{
    color:var(--color-accent);
}

.articles{
    padding: 28px;
    margin-bottom: 135px;
}

.articles__big-column{
    grid-column: span 9;
}

.articles__small-column{
    grid-column: 10/-1;
}

.main-article{
    margin-top: 8vh;
    display: grid;
    grid-template-columns: repeat(9, var(--grid-column-width));
    gap: var(--grid-gap);
}

.main-article__image-container{
    position: relative;
    grid-column: span 3;
    max-height: 344px;
    min-height: 185px;
}

.main-article__content{
    grid-column: 4/-1;
    padding-right: 63px;
}

.main-article__image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-category{
    text-transform: uppercase;
    color: var(--color-accent);
    font-weight: 900;
}

.article-source{
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-grey);
    font-weight: 800;
}

.article-date{
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-accent);
}

.main-article__title{
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 34px;
}

.main-article__text{
    font-size: 22px;
    color: var(--color-primary);
    margin-bottom: 34px;
}

.small-article{
    border-left: 9px solid var(--color-primary);
    padding-left: 11px;
    margin-bottom: 35px;
}

.small-article:first-child{
    margin-top: 8vh;
}

.small-articlle__title{
    font-weight: 700;
    font-size: 20px;
    color:var(--color-primary);
    margin-bottom: 14px;
}

.footer {
    width: 100%; 
    background-color: var(--color-primary); 
    padding: 60px 0;
    margin-top: 100px;
}

.footer__column{
    max-width: 1432px;
    margin: 0 auto;
    margin-top: 23px;
    display: flex;
    justify-content: space-between;
}

.nav__link2{
    text-decoration: none;
    color: white;
}

.nav__link2:hover{
    color:var(--color-accent);
}

.footer__text{
    font-size: 24px;
    color: white;
}

.footer__link{
    text-decoration: none;
    color: var(--color-accent);
    font-weight: 700;
}

.footer__copyright{
    font-size: 24px;
    color: var(--color-grey);
}